<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.indiewalkabout.nowdothis.storemedia.StoreMediaFixtureProvider"
            android:authorities="com.indiewalkabout.nowdothis.store-media-fixture"
            android:exported="true" />

        <activity
            android:name=".feature.history.presentation.HistoryTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name=".feature.calendar.presentation.CalendarTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name=".feature.category.presentation.CategoryTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name="com.indiewalkabout.nowdothis.feature.task.presentation.editor.TaskEditorTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name="com.indiewalkabout.nowdothis.feature.task.presentation.list.TaskListTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
